params {
    
    sample_sheet = "${projectDir}/test/data/sample-sheet.csv"
    data_dir = "${projectDir}/test/data"
    output_dir = "${projectDir}/test/outputs"

    export_layout = 'plate'

    positive = 'RIF'
    negative = 'DMSO'
    grouping = 'strain_name sample_id plate_id'

    hit_grouping = 'strain_name compound_name'
    counterscreen = 'strain_name:WT'

}
