manifest {

    author          = "Eachan Johnson"
    homePage        = "https://github.com/scbirlab/nf-platereader-screen"
    description     = "Process files from Biotek platereaders, normalise output, perform QC, make plots, and do statistical tests."
    defaultBranch   = "v0.0.1"
    nextflowVersion = '!>=22.10.1'
    version         = "0.0.1"
    doi             = ''

}

params {

    help = null

    sample_sheet = null
    data_dir = null
    output_dir = null

    export_layout = null

    layout_content_name = 'compound_name'
    control_column = 'compound_name'
    
    positive = null
    negative = null
    grouping = null

    hit_grouping = null

    counterscreen = null

}

profiles {

  standard {

    conda.enabled = true
    conda.useMamba = true
    process.conda = "${projectDir}/environment.yml"
    process.executor = 'slurm'
    notification.enabled = true
    notification.to = "$USER@crick.ac.uk"

  }
  
}