manifest {

    author          = "Eachan Johnson"
    homePage        = "https://github.com/scbirlab/nf-platereader-screen"
    description     = "Process files from Biotek platereaders, normalise output, perform QC, make plots, and do statistical tests."
    defaultBranch   = "v0.0.5"
    nextflowVersion = '!>=22.10.1'
    version         = "0.0.5"
    doi             = ''

}

params {

    help = null

    sample_sheet = null
    data_dir = null
    output_dir = null

    export_layout = null

    layout_content_name = 'compound_name'
    control_column = 'compound_name'
    normalization_method = 'npg'
    
    positive = null
    negative = null
    grouping = null

    hit_grouping = null

    counterscreen = null

}

conda {
  enabled = true
  createTimeout = '1 h'
}
process.conda = "${projectDir}/environment.yml"

profiles {

  standard {

    process {
      executor = 'slurm'
    }

    notification {
      enabled = true
      to = "$USER@crick.ac.uk"
    }

    dag {
      enabled = true
      overwrite = true
    }

  }

  local {

    process {
      executor = 'local'
    }
  }

}